@import "tailwindcss";

@theme {
    --color-ghibli-sky: #109CEB;
    --color-ghibli-white: #FFFDF7;
    --color-ghibli-black: #191919;
    --font-ghibli-lemon-milk: 'Lemon Milk', sans-serif;
    --text-navbar: 1.375rem;
    --text-navbar-dropdown: 1.125rem;
}