@page "/"

<PageTitle>Home</PageTitle>

<div class="flex"> 
    <button class="rounded bg-blue-500 py-2 font-bold text-white underline decoration-black hover:bg-blue-700">
        Clique aqui
    </button>
</div>

Welcome to your new app.
